<footer class="footer-container">
  <div class="footer-nav-container">
    <div class="footer-nav-container-Top">
      <div class="footer-logo">
        <a href="https://kelgpt.github.io/" style="padding: 0px 0px 0px 0px">
          <img
            src="/assets/images/logo/racket-review-logo.webp"
            alt="racket-review-logo"
            class="footer-logo responsive-image-contain"
          />
        </a>
      </div>
      <nav class="social-media-container">
        <span
          ><a href="/facebook" target="_blank"
            ><svg
              class="icon-svg-fb"
              height="40"
              viewBox="0 0 24 24"
              width="40"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="12" cy="12" r="12"></circle>
              <path
                d="m13.079 19h-2.9v-7h-1.441v-2.408h1.442v-1.456c0-1.96.813-3.136 3.136-3.136h1.933v2.408h-1.2c-.91 0-.965.35-.965.966v1.218h2.183l-.257 2.408h-1.931z"
                fill="#fff"
              ></path>
            </svg>
          </a>
          <a href="/twitter" target="_blank">
            <svg
              class="icon-svg-x"
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              fill="#0F1618"
              viewBox="0 0 375 375"
            >
              <g>
                <path d="M187 7a180 180 0 1 0 0 361 180 180 0 0 0 0-361"></path>
              </g>
              <g transform="translate(90 85)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="199.8"
                  height="199.8"
                  class="icon-svg"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill="#fff"
                    d="M18 2h4l-8 9 9 11h-7l-5-7-6 7H2l7-9L1 2h7l5 6zm-1 18h2L7 4H5z"
                  ></path>
                </svg>
              </g>
            </svg>
          </a>
          <a href="/tiktok" target="_blank">
            <svg
              class="icon-svg-tiktok"
              height="40"
              viewBox="0 0 24 24"
              width="40"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="m24 12a12 12 0 1 1 -12-12 12 12 0 0 1 12 12z"></path>
              <path
                d="m12.308 5.012c.763-.012 1.522 0 2.281-.012a3.636 3.636 0 0 0 1.02 2.434 4.12 4.12 0 0 0 2.473 1.043v2.349a6.177 6.177 0 0 1 -2.449-.564 7.207 7.207 0 0 1 -.947-.543c0 1.705.008 3.406-.01 5.105a4.442 4.442 0 0 1 -.789 2.3 4.343 4.343 0 0 1 -3.448 1.872 4.254 4.254 0 0 1 -2.379-.6 4.393 4.393 0 0 1 -2.127-3.331c-.014-.292-.019-.584-.007-.868a4.395 4.395 0 0 1 5.091-3.9c.013.864-.021 1.727-.021 2.591a2.007 2.007 0 0 0 -2.558 1.237 2.316 2.316 0 0 0 -.079.939 1.992 1.992 0 0 0 3.658.736 1.39 1.39 0 0 0 .239-.62c.057-1.043.034-2.082.041-3.126.006-2.351-.007-4.7.011-7.041z"
                fill="#fff"
              ></path>
            </svg>
          </a>
        </span>
      </nav>
    </div>
    <hr />
    <div class="footer-nav-container-middle">
      <nav class="footer-nav-container-left">
        <a
          class="footer-nav-container-left-content footer-nav-button"
          href="/about"
          >EQUIPMENT</a
        >
        <a
          class="footer-nav-container-left-content footer-nav-button"
          href="/about"
          >REVIEWS</a
        >
        <a
          class="footer-nav-container-left-content footer-nav-button"
          href="/about"
          >GUIDES</a
        >
      </nav>
      <nav class="footer-nav-container-right">
        <a
          class="footer-nav-container-right-content footer-nav-button"
          href="/about-us"
          >ABOUT</a
        >
      </nav>
    </div>
    <!-- <hr /> -->
    <!-- <div class="footer-nav-container-bottom">
        <nav class="nav-container-bottom"></nav>
      </div> -->
  </div>
</footer>
