<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Roboto"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Signika"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>

<script src="/assets/scripts/intersection_observer.js" defer></script>
<link href="/assets/stylesheets/global-style.css" rel="stylesheet" />
<script src="/assets/scripts/hero_image_slide.js" defer></script>
<script src="/assets/scripts/header-scripts.js" defer></script>
<link href="/assets/stylesheets/hero-image-slider.css" rel="stylesheet" />
<link
  rel="icon"
  href="/assets/images/favicon-green-stroke.png"
  type="image/x-icon"
  alt="racket-review-icon"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
