<header class="header-container">
  <div class="main-header-nav-container">
    <div class="main-header-nav-container-left">
      <a href="/home">
        <img src="/assets/images/pepsi.webp" alt="racket" class="header-logo responsive-image" >
      </a>
    </div>
    <nav class="main-header-nav-container-center">      
      <div class="equipment-dropdown-container" onmouseout="hideOverlay()" onmouseover="showOverlay()">
        <a href="/equipment/" class="equipment-dropdown-button bottom-border roboto-font word-color "> 
          EQUIPMENT
          <i class="fa fa-caret-down  "></i>
        </a>  
        <div class="equipment-dropdown-content-container" >
          <div class="equipment-dropdown-content">            
              <a href="/equipment/racket/" class="equipment-dropdown-content-wrapper">
                <img src="/assets/images/a.png" alt="racket" class="equipment-dropdown-content-image responsive-image" >
                <div class="equipment-dropdown-content-text roboto-font word-color">Racket</div>
              </a>            
              <a href="/equipment/shuttlecock/" class="equipment-dropdown-content-wrapper">
                <img src="/assets/images/a.png" alt="shuttlecock" class="equipment-dropdown-content-image responsive-image">
                <div class="equipment-dropdown-content-text roboto-font word-color">Shuttlecock</div>
              </a>              
          </div>          
        </div>
      </div>
      
      <a class="nav-container-center-article bottom-border roboto-font word-color" href="/blog/">ARTICLE</a>
    </nav>
    <nav class="main-header-nav-container-right">
      <a class="nav-container-right-About bottom-border roboto-font word-color" href="/about/">ABOUT</a>
      <a class="nav-container-right-contact bottom-border roboto-font word-color" href="#">CONTACT</a>
    </nav>
  </div>  
  <div id="overlay"></div>
</header>
