{% assign category = page.hero-image-category | downcase %} {% assign slides =
site.data.hero-images[category].slides %} {% if slides %}

<div class="hero-image-container">
  <div class="swiper-wrapper">
    {% for slide in slides %}
    <div class="swiper-slide">
      <img
        src="{{ slide.image }}"
        alt="{{ slide.caption }}"
        class="responsive-image-contain"
      />
      {% if slide.button %}
      <a href="{{ slide.url }}" class="hero-image-button" role="button"
        >{{ slide.button | upcase }}</a
      >
      {% endif %}

      <div class="caption caption-{{ slide.caption-style }}">
        {% if slide.caption %}
        <h2>{{ slide.caption }}</h2>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Navigation Arrows -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

{% endif %}
