<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head-content.html %}
    <link href="/assets/stylesheets/guides-post-style.css" rel="stylesheet" />

    {% include global-link.html %}
  </head>
  <body>
    {% assign parts = content | split: "<!-- CONTENT -->" %}{% assign
    parts_content = parts[1] | split: "<!-- REFERENCES -->" %} {% assign content
    = parts_content[0] %} {% assign references = parts_content[1] %}{% include
    header.html %}
    <div class="page-content">
      <div class="breadcrumbs" style="margin: 25px 0 0 0">
        {% include breadcrumbs.html%}
      </div>
      <div class="ad-leaderboard">advertisement</div>
      <header class="guides-title-content">
        <h1>{{ page.title }}</h1>
      </header>
      <section class="post-author-date-container">
        <span class="post-author-wrapper">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            width="16"
            height="16"
            fill="currentColor"
          >
            <path
              d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm89.6 32h-8.7c-21.8 10.3-46 16-72.9 16s-51.1-5.7-72.9-16h-8.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"
            />
          </svg>
          <span class="post-author-text">{{page.author | capitalize}}</span>
        </span>
        <span class="post-date-wrapper">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            width="16"
            height="16"
            fill="currentColor"
          >
            <path
              d="M152 64c0-8.8-7.2-16-16-16s-16 7.2-16 16v32H80V64c0-8.8-7.2-16-16-16s-16 7.2-16 16v32H32C14.3 96 0 110.3 0 128v320c0 17.7 14.3 32 32 32h384c17.7 0 32-14.3 32-32V128c0-17.7-14.3-32-32-32h-16V64c0-8.8-7.2-16-16-16s-16 7.2-16 16v32H320V64c0-8.8-7.2-16-16-16s-16 7.2-16 16v32H152V64zM32 160h384v64H32V160zm0 128h384v160H32V288z"
            />
          </svg>
          <span class="post-author-date">
            {{ page.date | date: "%Y-%b-%d " }}
          </span>
        </span>
      </section>
      <section class="guides-strapline-content">
        <h3>{{ page.description }}</h3>
      </section>
      <figure class="image-content margin-top-10px">
        <img
          class="responsive-image-cover"
          src="{{ page.thumbnail }}"
          alt="{{ page.title }}"
        />
      </figure>

      <div class="content-ads-section">
        <article class="page-article-container">
          <section>{{ content }}</section>
          <div class="ad-leaderboard">advertisement</div>
          <section class="links-section">
            {% include references-link.html %}
          </section>
          <section class="read-more-section">
            {% include read-more.html %}
          </section>
        </article>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
